@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

/* Tailwind CSS custom classes */

@layer utilities {
  .animate-spin-custom {
    animation: spin78236 2s infinite linear;
  }
  .animate-wobble1 {
    animation: wobble1 0.8s infinite ease-in-out;
  }
  .animate-wobble2 {
    animation: wobble2 0.8s infinite ease-in-out;
  }
}
